<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>

  <body>
      <% include ./partials/_header %>
      <h2> Shortened URL </h2>
        <ul>
            <li>
              <a href="/u/<%= shortURL %>"><%= shortURL %></a>
              =>  <%= longURL %>
            </li>

        </ul>
        <% if (user) { %>
      <form action="/urls/<%= shortURL %>" method = "post">
        <h2> Edit URL </h2>
          <p>
            <label> New URL: </label>
            <input name = "longURL" value = "<%= longURL %>">
            <button> Update URL </button>
          </p>
      </form>
      <% } %>
      <a href ='/urls'><button>Back to home</button></a>
  </body>

</html>